/* **************************************************************************
** Filename: sl_global.css
** 
** Global Styling
**
** Author: Timothy O Sullivan
**
** Last Updated: 27/01/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* GLOBAL STYLES */
/* -------------------------------------------------- */

/* custom center style so we can add this class to */
/* elements we wish to center 					   */
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
  text-align: center;
}